<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml"   
        xmlns:composite = "http://java.sun.com/jsf/composite"
        xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
    <composite:interface componentType="validationList">
        <composite:attribute name="minimumLevel"
                type="de.richtercloud.jsf.validation.service.ValidatorMessageSeverity"
                required="true"/>
        <composite:attribute name="ignores"
                type="org.hamcrest.Matcher"
                required="true"/>
        <composite:attribute name="hideHeaderIfValid"
                type="java.lang.Boolean"
                default="#{true}"
                shortDescription=""/>
    </composite:interface>
    <composite:implementation>
        <ui:remove>
            - `f:viewAction` inside `f:metadata` is not getting invoked, so
            it's not possible to pass `minimumLevel` and `ignores` to the
            backing bean that way
            - `f:event type="postAddToView"` (see
            https://stackoverflow.com/questions/21525669/initialize-a-composite-component-based-on-the-provided-attributes
            for more details) is invoked after `c:if test` is evaluated
            -> pass `minimumLevel` and `ignores` as method parameters and
            `f:parameter` for AJAX calls
        </ui:remove>
        <c:if test="#{empty request.getParameter(validation.skipValidateKey)}">
            <c:choose>
                <c:when test="#{cc.failure ne null}">
                    Validation failed because of the following exception: #{cc.failure.getMessage()}
                </c:when>
                <c:otherwise>
                    <c:if test="#{not empty cc.validatorMessages or not cc.attrs.hideHeaderIfValid}">
                        <h:form id="validationForm">
                            <h:panelGroup layout="block" style="display: block;">
                                <p:outputLabel value="Validation results:"/>
                                <h:panelGroup layout="block" style="float: right;">
                                    <p:commandButton value="Discard all" disabled="#{empty cc.validatorMessages}">
                                        <p:ajax listener="#{validation.discardAll}"
                                                update="#{cc.clientId}:validationForm"/>
                                        <f:attribute name="minimumLevel"
                                                value="#{cc.attrs.minimumLevel}"/>
                                        <f:attribute name="ignores"
                                                value="#{cc.attrs.ignores}"/>
                                    </p:commandButton>
                                    <p:commandButton id="resetButton"
                                            value="Reset" disabled="#{empty validation.discardMap}">
                                        <p:ajax listener="#{validation.resetDiscards}"
                                                update="#{cc.clientId}:validationForm"/>
                                        <f:attribute name="minimumLevel"
                                                value="#{cc.attrs.minimumLevel}"/>
                                        <f:attribute name="ignores"
                                                value="#{cc.attrs.ignores}"/>
                                    </p:commandButton>
                                    <ui:remove>
                                        Unclear why reset button doesn't trigger update like
                                        revalidate button does
                                    </ui:remove>
                                    <p:commandButton value="Force revalidation">
                                        <p:ajax listener="#{validation.forceRevalidation}"
                                                update="#{cc.clientId}:validationForm"/>
                                        <f:attribute name="minimumLevel"
                                                value="#{cc.attrs.minimumLevel}"/>
                                        <f:attribute name="ignores"
                                                value="#{cc.attrs.ignores}"/>
                                    </p:commandButton>
                                </h:panelGroup>
                            </h:panelGroup>
                            <h:dataTable value="#{cc.validatorMessages}" var="message">
                                <h:column>
                                    <h:panelGroup layout="block" style="display: block;">
                                        <p:outputLabel value="#{message.message}" style="white-space: pre-wrap;"/>
                                        <p:commandButton value="Discard" style="margin-left: 5px;">
                                            <p:ajax listener="#{validation.discardValidationMessage}"
                                                    update="#{cc.clientId}:validationForm"/>
                                            <f:attribute name="minimumLevel"
                                                    value="#{cc.attrs.minimumLevel}"/>
                                            <f:attribute name="ignores"
                                                    value="#{cc.attrs.ignores}"/>
                                            <f:attribute name="message"
                                                    value="#{message}"/>
                                        </p:commandButton>
                                    </h:panelGroup>
                                </h:column>
                            </h:dataTable>
                        </h:form>
                    </c:if>
                </c:otherwise>
            </c:choose>
        </c:if>
    </composite:implementation>
</html>